<div class="container mt-5">
    <div class="row">
        <div class="col-sm-12">
            <form [formGroup]="userForm">
                <div class="row">
                    <div class="col-sm-12">
                        <div class="form-group">
                            <label>Full Name<span class="text-danger">*</span></label>
                            <input type="text" formControlName="name" name="Name" class="form-control" placeholder="First Name"/>
                            <span *ngIf="submitted || forms['name'].invalid && forms['name'].dirty || forms['name'].touched" class="info-msg text-danger">
                              <small *ngIf="forms['name'].errors && forms['name'].errors?.['required']">
                                Full Name is required
                              </small>
                              <small *ngIf="forms['name'].errors?.['minlength']">
                                Full Name should have atleast 2 characters
                              </small>
                              <small *ngIf="forms['name'].errors?.['maxlength']">
                                Full Name can have atmax 15 characters
                              </small>
                          </span>
                        </div>
                    </div>
                </div>
        
              <div class="row">
                <div class="col-sm-12">
                    <div class="form-group">
                        <label>E-mail<span class="text-danger">*</span></label>
                        <input type="email" formControlName="email" name="email" class="form-control" placeholder="E-mail" />
                        <span *ngIf="submitted || forms['email'].invalid && forms['email'].dirty || forms['email'].touched" class="info-msg text-danger">
                          <small *ngIf="forms['email'].errors && forms['email'].errors?.['required']">
                            Email is required
                          </small>
                          <small *ngIf="forms['email'].errors?.['email']">
                            Please provide a valid email
                          </small>
                      </span>
                    </div>
                </div>
            </div>
  
                <div class="row">
                    <div class="col-sm-12">
                        <div class="form-group">
                            <label>Address<span class="text-danger">*</span></label>
                            <input type="text" formControlName="address" class="form-control" placeholder="Address" />
                            <span *ngIf="submitted || forms['address'].invalid && forms['address'].dirty || forms['address'].touched" class="info-msg text-danger">
                              <small *ngIf="forms['address'].errors && forms['address'].errors?.['required']">
                                Address is required
                              </small>
                              <small *ngIf="forms['address'].errors?.['minlength']">
                                Address should have atleast 2 characters
                              </small>
                              <small *ngIf="forms['address'].errors?.['maxlength']">
                                Address can have atmax 15 characters
                              </small>
                          </span>
                        </div>
                    </div>
                </div>
  
                <div class="row">
                  <div class="col-sm-12">
                      <div class="form-group">
                          <label>Age<span class="text-danger">*</span></label>
                          <input type="age" formControlName="age" name="age" class="form-control" placeholder="Age" />
                          <span *ngIf="submitted || forms['age'].invalid && forms['age'].dirty || forms['age'].touched" class="info-msg text-danger">
                            <small *ngIf="forms['age'].errors && forms['age'].errors?.['required']">
                              Age is required
                            </small>
                            <small *ngIf="forms['age'].errors?.['minlength']">
                              Age should have atleast 2 characters
                            </small>
                        </span>
                      </div>
                  </div>
              </div>
  
                <div class="row">
                    <div class="col-sm-12">
                        <button class="btn btn-success" (click)="onSubmit(userForm.value)">Submit Value</button>
                        <!-- [disabled]="reactiveForm.invalid" -->
                        <button class="btn btn-primary" (click)="onBack()">Back</button>
                    </div>
                </div>
        
            </form>
        </div>
    </div>
  </div>


